{% extends 'base.html' %}

{% block content %}

<h1 align="center">Your all time trading history</h1>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Stock</th>
        <th scope="col">Trade</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% if history %}
                
            {% for item in history %}
            
            <tr>
                <th scope="row">{{ item.ticker }}</th>
                <td>{{ item.trade }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.Date }}</td>
            </tr>
           
            {% endfor %}
        {% endif %}
    </tbody>
  </table>

{% endblock %}